(edif peri_main
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2020 05 27 19 28 33)
  (program "Vivado" (version "2019.1"))
  (comment "Built on 'Fri May 24 14:49:42 MDT 2019'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUFDS (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
        (port IB (direction INPUT))
       )
     )
   )
   (cell MMCME2_ADV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port CLKFBOUT (direction OUTPUT))
        (port CLKFBOUTB (direction OUTPUT))
        (port CLKFBSTOPPED (direction OUTPUT))
        (port CLKINSTOPPED (direction OUTPUT))
        (port CLKOUT0 (direction OUTPUT))
        (port CLKOUT0B (direction OUTPUT))
        (port CLKOUT1 (direction OUTPUT))
        (port CLKOUT1B (direction OUTPUT))
        (port CLKOUT2 (direction OUTPUT))
        (port CLKOUT2B (direction OUTPUT))
        (port CLKOUT3 (direction OUTPUT))
        (port CLKOUT3B (direction OUTPUT))
        (port CLKOUT4 (direction OUTPUT))
        (port CLKOUT5 (direction OUTPUT))
        (port CLKOUT6 (direction OUTPUT))
        (port DRDY (direction OUTPUT))
        (port LOCKED (direction OUTPUT))
        (port PSDONE (direction OUTPUT))
        (port CLKFBIN (direction INPUT))
        (port CLKIN1 (direction INPUT))
        (port CLKIN2 (direction INPUT))
        (port CLKINSEL (direction INPUT))
        (port DCLK (direction INPUT))
        (port DEN (direction INPUT))
        (port DWE (direction INPUT))
        (port PSCLK (direction INPUT))
        (port PSEN (direction INPUT))
        (port PSINCDEC (direction INPUT))
        (port PWRDWN (direction INPUT))
        (port RST (direction INPUT))
        (port (array (rename DO "DO[15:0]") 16) (direction OUTPUT))
        (port (array (rename DADDR "DADDR[6:0]") 7) (direction INPUT))
        (port (array (rename DI "DI[15:0]") 16) (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell clk_wiz_0_clk_wiz (celltype GENERIC)
     (view clk_wiz_0_clk_wiz (viewtype NETLIST)
       (interface 
        (port clk_in1_n (direction INPUT))
        (port clk_in1_p (direction INPUT))
        (port clk_out1 (direction OUTPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance clkf_buf (viewref netlist (cellref BUFG (libraryref hdi_primitives)))
           (property BOX_TYPE (string "PRIMITIVE"))
         )
         (instance clkin1_ibufgds (viewref netlist (cellref IBUFDS (libraryref hdi_primitives)))
           (property BOX_TYPE (string "PRIMITIVE"))
           (property CAPACITANCE (string "DONT_CARE"))
           (property IOSTANDARD (string "DEFAULT"))
           (property IBUF_DELAY_VALUE (string "0"))
           (property IFD_DELAY_VALUE (string "AUTO"))
         )
         (instance clkout1_buf (viewref netlist (cellref BUFG (libraryref hdi_primitives)))
           (property BOX_TYPE (string "PRIMITIVE"))
         )
         (instance mmcm_adv_inst (viewref netlist (cellref MMCME2_ADV (libraryref hdi_primitives)))
           (property BANDWIDTH (string "OPTIMIZED"))
           (property BOX_TYPE (string "PRIMITIVE"))
           (property CLKFBOUT_MULT_F (string "32.000000"))
           (property CLKFBOUT_PHASE (string "0.000000"))
           (property CLKFBOUT_USE_FINE_PS (boolean (false)))
           (property CLKIN1_PERIOD (string "6.400000"))
           (property CLKIN2_PERIOD (string "0.000000"))
           (property CLKOUT0_DIVIDE_F (string "5.000000"))
           (property CLKOUT0_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT0_PHASE (string "0.000000"))
           (property CLKOUT0_USE_FINE_PS (boolean (false)))
           (property CLKOUT1_DIVIDE (integer 1))
           (property CLKOUT1_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT1_PHASE (string "0.000000"))
           (property CLKOUT1_USE_FINE_PS (boolean (false)))
           (property CLKOUT2_DIVIDE (integer 1))
           (property CLKOUT2_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT2_PHASE (string "0.000000"))
           (property CLKOUT2_USE_FINE_PS (boolean (false)))
           (property CLKOUT3_DIVIDE (integer 1))
           (property CLKOUT3_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT3_PHASE (string "0.000000"))
           (property CLKOUT3_USE_FINE_PS (boolean (false)))
           (property CLKOUT4_CASCADE (boolean (false)))
           (property CLKOUT4_DIVIDE (integer 1))
           (property CLKOUT4_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT4_PHASE (string "0.000000"))
           (property CLKOUT4_USE_FINE_PS (boolean (false)))
           (property CLKOUT5_DIVIDE (integer 1))
           (property CLKOUT5_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT5_PHASE (string "0.000000"))
           (property CLKOUT5_USE_FINE_PS (boolean (false)))
           (property CLKOUT6_DIVIDE (integer 1))
           (property CLKOUT6_DUTY_CYCLE (string "0.500000"))
           (property CLKOUT6_PHASE (string "0.000000"))
           (property CLKOUT6_USE_FINE_PS (boolean (false)))
           (property COMPENSATION (string "ZHOLD"))
           (property DIVCLK_DIVIDE (integer 5))
           (property IS_CLKINSEL_INVERTED (string "1'b0"))
           (property IS_PSEN_INVERTED (string "1'b0"))
           (property IS_PSINCDEC_INVERTED (string "1'b0"))
           (property IS_PWRDWN_INVERTED (string "1'b0"))
           (property IS_RST_INVERTED (string "1'b0"))
           (property REF_JITTER1 (string "0.010000"))
           (property REF_JITTER2 (string "0.010000"))
           (property SS_EN (string "FALSE"))
           (property SS_MODE (string "CENTER_HIGH"))
           (property SS_MOD_PERIOD (integer 10000))
           (property STARTUP_WAIT (boolean (false)))
         )
         (net (rename &_const0_ "<const0>") (joined
          (portref CLKIN2 (instanceref mmcm_adv_inst))
          (portref (member DADDR 6) (instanceref mmcm_adv_inst))
          (portref (member DADDR 5) (instanceref mmcm_adv_inst))
          (portref (member DADDR 4) (instanceref mmcm_adv_inst))
          (portref (member DADDR 3) (instanceref mmcm_adv_inst))
          (portref (member DADDR 2) (instanceref mmcm_adv_inst))
          (portref (member DADDR 1) (instanceref mmcm_adv_inst))
          (portref (member DADDR 0) (instanceref mmcm_adv_inst))
          (portref DCLK (instanceref mmcm_adv_inst))
          (portref DEN (instanceref mmcm_adv_inst))
          (portref (member DI 15) (instanceref mmcm_adv_inst))
          (portref (member DI 5) (instanceref mmcm_adv_inst))
          (portref (member DI 4) (instanceref mmcm_adv_inst))
          (portref (member DI 3) (instanceref mmcm_adv_inst))
          (portref (member DI 2) (instanceref mmcm_adv_inst))
          (portref (member DI 1) (instanceref mmcm_adv_inst))
          (portref (member DI 0) (instanceref mmcm_adv_inst))
          (portref (member DI 14) (instanceref mmcm_adv_inst))
          (portref (member DI 13) (instanceref mmcm_adv_inst))
          (portref (member DI 12) (instanceref mmcm_adv_inst))
          (portref (member DI 11) (instanceref mmcm_adv_inst))
          (portref (member DI 10) (instanceref mmcm_adv_inst))
          (portref (member DI 9) (instanceref mmcm_adv_inst))
          (portref (member DI 8) (instanceref mmcm_adv_inst))
          (portref (member DI 7) (instanceref mmcm_adv_inst))
          (portref (member DI 6) (instanceref mmcm_adv_inst))
          (portref DWE (instanceref mmcm_adv_inst))
          (portref G (instanceref GND))
          (portref PSCLK (instanceref mmcm_adv_inst))
          (portref PSEN (instanceref mmcm_adv_inst))
          (portref PSINCDEC (instanceref mmcm_adv_inst))
          (portref PWRDWN (instanceref mmcm_adv_inst))
          (portref RST (instanceref mmcm_adv_inst))
          )
         )
         (net (rename &_const1_ "<const1>") (joined
          (portref CLKINSEL (instanceref mmcm_adv_inst))
          (portref P (instanceref VCC))
          )
         )
         (net clk_in1_clk_wiz_0 (joined
          (portref CLKIN1 (instanceref mmcm_adv_inst))
          (portref O (instanceref clkin1_ibufgds))
          )
         )
         (net clk_in1_n (joined
          (portref IB (instanceref clkin1_ibufgds))
          (portref clk_in1_n)
          )
         )
         (net clk_in1_p (joined
          (portref I (instanceref clkin1_ibufgds))
          (portref clk_in1_p)
          )
         )
         (net clk_out1 (joined
          (portref O (instanceref clkout1_buf))
          (portref clk_out1)
          )
         )
         (net clk_out1_clk_wiz_0 (joined
          (portref CLKOUT0 (instanceref mmcm_adv_inst))
          (portref I (instanceref clkout1_buf))
          )
         )
         (net clkfbout_buf_clk_wiz_0 (joined
          (portref CLKFBIN (instanceref mmcm_adv_inst))
          (portref O (instanceref clkf_buf))
          )
         )
         (net clkfbout_clk_wiz_0 (joined
          (portref CLKFBOUT (instanceref mmcm_adv_inst))
          (portref I (instanceref clkf_buf))
          )
         )
       )
     )
   )
   (cell clk_wiz_0 (celltype GENERIC)
     (view clk_wiz_0 (viewtype NETLIST)
       (interface 
        (port clk_in1_n (direction INPUT))
        (port clk_in1_p (direction INPUT))
        (port clk_out1 (direction OUTPUT))
       )
       (contents
         (instance inst (viewref clk_wiz_0_clk_wiz (cellref clk_wiz_0_clk_wiz (libraryref work))))
         (net clk_in1_n (joined
          (portref clk_in1_n (instanceref inst))
          (portref clk_in1_n)
          )
         )
         (net clk_in1_p (joined
          (portref clk_in1_p (instanceref inst))
          (portref clk_in1_p)
          )
         )
         (net clk_out1 (joined
          (portref clk_out1 (instanceref inst))
          (portref clk_out1)
          )
         )
       )

           (property CORE_GENERATION_INFO (string "clk_wiz_0,clk_wiz_v6_0_3_0_0,{component_name=clk_wiz_0,use_phase_alignment=true,use_min_o_jitter=false,use_max_i_jitter=false,use_dyn_phase_shift=false,use_inclk_switchover=false,use_dyn_reconfig=false,enable_axi=0,feedback_source=FDBK_AUTO,PRIMITIVE=MMCM,num_out_clk=1,clkin1_period=6.400,clkin2_period=10.000,use_power_down=false,use_reset=false,use_locked=false,use_inclk_stopped=false,feedback_type=SINGLE,CLOCK_MGR_TYPE=NA,manual_override=false}"))
     )
   )
   (cell peri_main (celltype GENERIC)
     (view peri_main (viewtype NETLIST)
       (interface 
        (port USRCLK_N (direction INPUT))
        (port USRCLK_P (direction INPUT))
       )
       (contents
         (instance clock_module (viewref clk_wiz_0 (cellref clk_wiz_0 (libraryref work)))
           (property CORE_GENERATION_INFO (string "clk_wiz_0,clk_wiz_v6_0_3_0_0,{component_name=clk_wiz_0,use_phase_alignment=true,use_min_o_jitter=false,use_max_i_jitter=false,use_dyn_phase_shift=false,use_inclk_switchover=false,use_dyn_reconfig=false,enable_axi=0,feedback_source=FDBK_AUTO,PRIMITIVE=MMCM,num_out_clk=1,clkin1_period=6.400,clkin2_period=10.000,use_power_down=false,use_reset=false,use_locked=false,use_inclk_stopped=false,feedback_type=SINGLE,CLOCK_MGR_TYPE=NA,manual_override=false}"))
         )
         (net USRCLK_N (joined
          (portref clk_in1_n (instanceref clock_module))
          (portref USRCLK_N)
          )

           (property DIFF_TERM (boolean (false)))
           (property IBUF_LOW_PWR (boolean (true)))
           (property IOSTANDARD (string "LVDS"))
         )
         (net USRCLK_P (joined
          (portref clk_in1_p (instanceref clock_module))
          (portref USRCLK_P)
          )

           (property DIFF_TERM (boolean (false)))
           (property IBUF_LOW_PWR (boolean (true)))
           (property IOSTANDARD (string "LVDS"))
         )
         (net clk (joined
          (portref clk_out1 (instanceref clock_module))
          )
         )
       )

           (property COL_NO (integer 128))
           (property PAIR_ROW_NO (integer 64))
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design peri_main
    (cellref peri_main (libraryref work))
    (property XLNX_PROJ_DIR (string "C:/Users/KJS/VIVADO_WS/Vivado_project/RRAM_PERI"))
    (property part (string "xc7vx485tffg1761-2"))
  )
)
